---
layout: default
---

<div class="row list-buku">
	{% assign postingan = site.posts | sort: 'title' %}
	{% for x in postingan %}
		<div class="col-xs-6 col-sm-2"><a href="{{ x.url | replace: '/', '' }}">
			<p><img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=500&url={{ x.gambar }}" alt=""></p>
			<p class="geser-dikit"><small>
				<strong>{{ x.title }}</strong><br>
				<span class="penulis">{{ x.penulis }}</span><br>
				{% if x.bintang == 5 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				{% endif %}
				{% if x.bintang == 4 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
				{% endif %}
				{% if x.bintang == 3 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				{% endif %}
				{% if x.bintang == 2 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				{% endif %}
				{% if x.bintang == 1 %}
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				{% endif %}
			</small></p>
		</a></div>
	{% endfor %}
</div>