---
layout: default
---

<div class="clearfix">
	<img src="{{ page.gambar }}" class="preview pull-left margin-right" alt="">
	<div class="pull-left">
		<p><strong>{{ page.title }}</strong></p>
		<p>Oleh <span class="penulis">{{ page.penulis }}</span></p>
		<p>
			{% if page.bintang == 4 %}
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
			{% endif %}
		</p>
	</div>
</div>
<br>
{{ content }}